* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/tree_bark.png");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contents {
    margin: auto;
    max-width: 960px;
    padding: 0px, 15px, 0px, 15px;
    clear: both;
}

#treeContainer {
    display: absolute;
    clear: both;
}

.trees {
    width: 75px;
    height: 93px;
    margin: 15px;
    border-style: ridge;
    border-width: 5px;
    clear: both;
}

.target {
    background-color: #ff912c;
    border: 1px solid #ffffff;
    padding: 20px;
    width: 25%;
    height: 95px;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 95px;
}

.result {
    background-color: #0090b2;
    border: 1px solid #ffffff;
    padding: 20px;
    width: 25%;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.5; 
    height: 95px;
    float: left;   
}

.karma {
    background-color: #a536c2;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 225px;
    height: 95px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
